h1{
    font-family: sans-serif;
}

p {
    font-weight: 600;
    font-size: 3em;
}

body{
    font-size: 16px;
}

#yellow{
    background-color: yellow;
    font-style: initial;
}

#red{
    background-color: red;
    font-style: italic;
}

#brown{
    background-color: brown;
    font-style: oblique;
}

#color-list{
    line-height: 40px;
    text-align: center;
    text-decoration: underline;
}