ol{
    background-color: yellow;
}

ol li:nth-child(2n){
    color: green;
}

ol li:nth-child(2n-1){
    text-transform: uppercase;
}

h1, h3{
    color: red;
}

h1 em{
    font-size: 40px;
    border: 1px solid black;
}

ol li, ul li, ul li{
    font-size: 20px;
}

ol li{
    font-weight: bolder;
}

.list-linguaprog li:nth-child(-n+3){
    color: blue;
}

.list-linguaprog li:nth-child(2), .list-linguaprog li:nth-child(3){
    background-color: pink;
}

.list-link:hover li:nth-child(1){
    font-weight: bolder;
    color: orangered;
}

.list-link:hover li:nth-child(2){
    font-weight: bolder;
    color: rgb(0, 97, 0);
}

.list-link:hover li:nth-child(3){
    font-weight: bolder;
    color: black;
}

.list-link:hover li:nth-child(4){
    font-weight: bolder;
    color: yellow;
}

.list-link:hover li:nth-child(5){
    font-weight: bolder;
    color: rgb(78, 196, 104);
}