div:hover{
    border: 2px solid rgb(30, 88, 155);
    transition: 0.2s;
}

div:nth-child(2n+1){
    font-style: italic;
}

div:nth-of-type(1){
    background-color: magenta;
    font-family: monospace;
}

div:nth-of-type(2){
    background-color: violet;
    font-family: verdana;
}

div:nth-of-type(3){
    font-size: larger;
    font-family: fantasy;
    background-color: rgb(247, 96, 247);
}

div:nth-of-type(4){
    font-family: initial;
    background-color: purple;
}

div:nth-of-type(5){
    font-family: impact;
    background-color: rgb(252, 206, 252);
}