.list-nav {
    list-style: none;
}

.item-nav{
    display: inline-block;
    text-align: center;
    width: 88px;
}

.list-nav li:nth-child(2), .list-nav li:nth-child(3) {
    width: 50px;
}

table, td{
    border: 1px solid black;
}

.info-geral, .curiosity-vision{
    display: inline-block;
    margin-right: 500px;
    text-align: justify;
    margin-bottom: 15px;
}

.table-tabula{
    margin-left: 120px;
}